@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #342013;
    --background: #e9e0d8;
    --primary: #523a28;
    --secondary: #d0b49f;
    --accent: #926645;
  }
  .dark {
    --text: #ecd8cb;
    --background: #271e16;
    --primary: #d7bfad;
    --secondary: #60442f;
    --accent: #ba8f6d;
  }
}

@layer keyframes {
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
}

@layer components {
  .bounce-in-top {
    animation: bounce-in-top 1s forwards;
  }
}
